.title {
  width: auto;
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-weight: 900;
  font-size: 1.5rem;
  background: #0D0D0D;
  color: #4EA8DE;
}

img {
  height: 2.8rem;
  margin-top: 0.72rem;;
}

span {
  color: #5E60CE;
}

